body {
    /*Start navigation*/
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*End navigation*/
    background-color: lime ;
}
    /*Start navigation*/
.topnav {
    overflow: hidden;
    background-color: lightblue;
}

.topnav a {
    float: left;
    color: #141212;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(17, 185, 67);
    color: white;
}

.topnav a.active {
    background-color: #000;
    color: white;
}
    /*End navigation*/